@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color-primary-0: 247 253 250; /* Very lightest shade, almost white */
  --color-primary-50: 236 251 245; /* Lighter, subtle green */
  --color-primary-100: 219 248 236;
  --color-primary-200: 191 242 222;
  --color-primary-300: 153 234 204;
  --color-primary-400: 114 225 186;
  --color-primary-500: rgb(94 218 163); /* Base color: #5EDAA3 */
  --color-primary-600: 77 186 137;
  --color-primary-700: 61 149 109;
  --color-primary-800: 48 119 87;
  --color-primary-900: 38 95 69;
  --color-primary-950: 19 47 34; /* Darkest shade, almost black */


    --color-error-0: 255 242 242;   /* Very lightest shade */
  --color-error-50: 255 229 229;
  --color-error-100: 255 208 208;
  --color-error-200: 255 180 180;
  --color-error-300: 254 153 153;
  --color-error-400: 253 136 136; /* This is very close to the base #FD8888.
                                    Considering it's already quite bright,
                                    we'll align 400 or 500 closest to the original.
                                    Let's use 500 as the base for consistency. */
  --color-error-500: 253 109 109;   /* Base color: slightly more saturated/darker than 400 to make it the 'middle' */
  --color-error-600: 240 85 85;
  --color-error-700: 221 66 66;
  --color-error-800: 196 55 55;
  --color-error-900: 169 46 46;
  --color-error-950: 90 24 24;    /* Darkest shade */
}
